/* CadastroProduto.css */

.ContainerCadastroCliente{
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
  }
  
  .CadastroClienteForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }
  
  .CadastroClienteForm label {
    display: block;
    font-weight: bold;
  }
  
  .CadastroClienteForm input,
  .CadastroClienteForm textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .CadastroClienteForm button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  